body {
    margin: 0;
    text-align: center;
    background-image: url('basketball-arena-with-basketball-ball-ai-generation_201606-5316.avif');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
}

.score {
    background: rgba(10, 0, 1, 0.7); /* Adjusted background color with transparency */
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 60px;
    border-radius: 10px; /* Rounded corners for better appearance */
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 50px; /* Increased padding for better spacing */
}

button {
    background: none;
    color: #F94F6D;
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #F94F6D;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background: #F94F6D;
    color: #fff;
}
